body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* color: #333; */
    color: #47a0ff;
    line-height: 1.6;
    /* background-color: #f4f4f8; */
    background-color: black;
}

input {
    background-color: rgb(210, 210, 210);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    border-radius: 4px;
    min-height: 100px;
    border: 1px solid #d6d6d6;
    font-size: 1em;
    color: black;
    background-color: rgb(210, 210, 210);
    overflow-wrap: break-word;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    width: 90%;
    max-width: 90%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}

.section {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #696969;
    border-radius: 4px;
    margin-top: 0;
}

.heading {
    font-weight: bold;
    font-size: x-large;
    margin-left: 20px;
    margin-right: 20px;
}

.legalQuestion {
    width: 80%;
    margin: 10px 20px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.btn {
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-remove {
    background-color: red;
}

.result-box {
    padding: 20px;
    border-radius: 4px;
    min-height: 100px;
    overflow-wrap: break-word;
    font-size: 1em;
    /* background-color: #d9e6ff; */
    background-color: #333;
    margin-top: 10px;
}

.getParagraphInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 20px auto;
    }

    .btn,
    .btn-add {
        width: 100%;
        margin-top: 10px;
    }
}

pre {
    /* background-color: #f0f0f0; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    white-space: pre-wrap;
}

.dropdown-btn {
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    outline: none;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.dropdown-btn:hover,
.dropdown-btn:focus {
    background-color: #ddd;
    outline: none;
}

.dropdown-btn.toggle+.dropdown-content {
    display: block;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.dropdown-content::after {
    content: "";
    display: table;
    clear: both;
}